*, *::before, *::after {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0em;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400%, 400%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

.main {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    margin-top: 15%;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

/*LEFT SIDE PROFILE/ABOUT ME CSS*/
.profilebox {
    background-color: #ffffff88;
    box-shadow:rgba(0, 0, 0, 0.507);
    color: rgba(0, 0, 0);
    border: solid rgba(255, 255, 255, 0.733);
    border-radius: 4%;
    border-width: 3px;
    padding: 20px;
    width: 300px;
    height: 600px;
}
.profilebox i {
    text-align: center;
    margin-left: 15%;
    margin-bottom: 10%;
}
.profilebox-name {
    font-family: 'Fredoka One', cursive;
    margin: 0px;
}
.profilebox-title {
    font-family: 'Fredoka One', cursive;
    margin-top: 1%;
}
.profilebox-about-me h2 {
    font-family: 'Fredoka One', cursive;
    margin-bottom: 15px;
}
.profilebox-about-me-text {
    font-family: 'Fredoka One', cursive;
    width: 100%;
    margin: 0px;
}
/*BUTTON FOR CONTACT ME MODAL*/
.btn {
    color: rgba(0, 0, 0);
    font-family: 'Fredoka One', cursive;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border-radius: 10px;
    margin-top: 100px;
    width: 50%; 
}
.btn:hover {
    background: #23a6d5;
}
.btn:active {
    background: #e73c7e;
}


/*MAIN CONTENT RIGHT SIDE TEXT AND INFORMATION*/
.main-content {
    color:rgba(0, 0, 0);
    margin-left: 2%;
    width: 60%;
}
.main-content p {
    font-family: 'Fredoka One', cursive;
    width: 100%;
}
.main-content h2 {
    font-family: 'Fredoka One', cursive;
    width: 100%;
}

/*SKILLS LIST ASSETS AND TEXT CSS*/
.skill-list {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.skill-list h3 {
    font-family: 'Fredoka One', cursive;
    margin: 0;
    margin-top: 2%;
    margin-left: 1%;
}
.skill-list i {
    margin-right: 0%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 0px;

}

/*MODAL STYLE*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body {
    padding: 10px 15px;
}
#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*MODAL CONTENT*/
.title {
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
}
.modal-body h3 {
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    margin: 0;
    margin-top: 2%;
    margin-left: 1%;
}
.social-links {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.social-links h3 {
    font-family: 'Fredoka One', cursive;
    margin: 0;
    margin-top: 2%;
    margin-left: 1%;
}
.social-links i {
    margin-right: 0%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 0px;

}


/*FOOTER*/
footer {
    font-family: 'Fredoka One', cursive;
    color:rgba(0, 0, 0, 0.699);
    opacity: 0.25;
    font-size: 18px;
    text-align: center;
    margin-top: auto;
}

/*ANIMATION KEYFRAMES FOR BACKGROUND*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}