$color1 : rgba(167, 210, 203, 1);
$color2 : rgba(242, 211, 136, 1);
$color3 : rgba(201, 132, 116, 1);
$color4 : rgba(135, 76, 98, 1);

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
    // background-color: black;
}
  
html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: slategrey;
    // background: 
    //     radial-gradient(circle at bottom, $color1, transparent 80%),    
    //     linear-gradient(to top, color2 0%, transparent 70%),    
    //     linear-gradient(to bottom, transparent, rgba($color3, 0.4) 70%), $color4;  
    // animation: bg 40s infinite;
}

@keyframes bg {
    0%, 100% { background-color: $color1; }
    25% { background-color: $color2; }
    50% { background-color: $color3; }
    75% { background-color: $color4; }
  }

.greeting {
    font-size: 3rem;
    margin: 0;
}
.greet-container {
    height: 100px;
}

#main {
    padding: 35px;
    // border: 1px solid rgba(255, 255, 255, 25%);
    border-radius: 30px;
    max-width: 850px;
    min-width: 350px;
    height: fit-content;
    text-align: center;
    z-index: 1;
    background: inherit;
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(10px);
    box-shadow: 5px 10px 30px 10px rgba(0, 0, 0, .25);
    .name {
        font-size: 2rem;
        margin: 0 auto;
    }
    .about-tags {
        font-size: 0.9rem;
        margin: 0.1rem 0 0 0;
        padding: 0 5% 0 5%;
    }
    .about {
        font-size: 1rem;
        margin: 1rem 0 0 0;
        padding: 0 5% 0 5%;
    }
    a {
        text-decoration: none;
        color: black;
        i {
            padding: 0 0.5rem 0 0.5rem;
            margin-top: 0.5rem;
        }
    }
}

.link-ico {
    font-size: 1.3rem;
    padding: 1rem;
    
}
.link-ico:hover {
        opacity: 0.7;
        cursor: pointer;
    }
.skills {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}


.skill-list {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.skill-list > i > h3 {
    font-size: 1rem;
    padding-left: 0.3rem;
    margin: 0;
    margin-top: 2%;
    margin-left: 1%;
    font-weight: 500;
}
.skill-list i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
    margin-left: 2%;
    margin-top: 2%;
    padding: 0px;
}


#section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.scrollArrow {
    margin-top: 7rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.6;
    animation: arrow 1s linear 0s infinite alternate;
    i {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
}
@keyframes arrow {
    from { transform: translateY(0px); }
    to { transform: translateY(0.3rem); }
}

#portfolio {
    text-align: center;
}

.portfolio-grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
@media (max-width: 768px) {
    .portfolio-grid-container {
        margin-top: 25rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-item {
    // padding: 15%;
    height: 14rem;
    width: 14rem;
    // border: 1px solid gray;
    position: relative;
    background-color: rgba(255, 255, 255, .30);
    border-radius: 2rem 0rem 2rem 0rem;
    
}

.grid-item-info {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    margin-top: 40%;
    p {
        margin: 2rem auto;
    }
}
.grid-item-title {
    position: aboslute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    h4 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }
}

.overlay {
    border-radius: 2rem 0rem 2rem 0rem;
    visibility: visible;
    padding: 1rem;
    z-index: 2;
    background: rgba(0, 0, 0, .50);
    color: white;
}